$green: #51AB89;
$grey: #252525;
* {
	box-sizing: border-box;
}



h1 {
	font-family: 'Saira Condensed', sans-serif;
	font-weight: 900;
	margin: 0;
}

h2 {
	font-family: 'Saira Condensed', sans-serif;
	font-weight: 700;
	margin: 0;
}
h3 {
	font-family: 'Saira Condensed', sans-serif;
	font-weight: 600;
	margin: 0;
}
h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 0;
}
h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	margin: 0;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0;
}



body {
	height: 100vh;
	padding: 1rem;
	background-color: #34795F;
	/* define main grid */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, auto);
	grid-gap: 1rem;
	margin: 0;
	@media screen and (min-width: 40em) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto);
	}
	@media screen and (min-width: 60em) {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
}


.intro {	 
	transition: all .2s ease-in-out; 
	}
	.intro:hover { 
	transform: scale(1.02); 
	}
.intro { /* Main Intro, "Lead the way"*/ 
	grid-column: 1 / span 2;
	grid-row: 1;
	@media screen and (min-width: 40em) {
		grid-column: 1 / span 2;
		grid-row: 1
	}
	@media screen and (min-width: 60em) {
		grid-column: 1 / span 4;
		grid-row: 1;
	}
	background-color: #fff;
	border-radius: 2rem;
	padding: 2rem;
	display: grid;
	grid-template-columns:1fr 2fr;
	grid-template-rows: repeat(2, 1fr);
	@media screen and (min-width: 50em) {
	grid-template-columns:1fr 2fr 2fr;
	grid-template-rows: repeat(2, 1fr);
	}
	grid-gap: 1rem;
	background-image: url("../img/bg2.png");
	background-size: cover;
	.user p {
		font-size: 0.65rem;
		padding-top: 0.4rem;
	}
	.user h2 {
		font-size: 1.9rem
	}
	.user {
		text-align: center;
	}
	
	 h3 {
		font-size: 1rem;
		grid-column: 1;
		grid-row: 2;
		text-align: center;
	}
	img {
		justify-self: center;
	}
	.logout {
		grid-column: 1;
		grid-row: 2;
		height: 50%;
		justify-self: center;
		align-self: end;
		font-size: 4rem;
		color: white;
		@media screen and (min-width: 40em){
			display: none;
		}	
	}
	.mobile-nav {
		grid-column: 1;
		grid-row: 2;
		display: none;
		justify-self: center;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		font-size: 1.65rem;
		color: #34795F;
		@media screen and (min-width: 40em){
			display: block;
		}
		}

		

	header {
		grid-column: 2 / span 2;
		grid-row: 1;
		color: $green;
		@media screen and (min-width: 30em){
			grid-column: 2;
			grid-row: 1;
		}
		
	}
	header h1 {
		font-size: 1.5rem;
		@media screen and (min-width: 30em){
		font-size: 3rem;
	}
	}

	 ul {
		margin: 0;
		padding: 0;
		list-style: none;
		align-self:end;
		grid-column: 2;
		grid-row: 2;
	}
	ul h1 {
			color: white;
			font-size: 1.3rem;
			@media screen and (min-width: 30em){
		font-size: 2.3rem;
	}
		}
	ul p {
		color: white;
	}

	.stats {
		@media screen and (max-width: 1000px) {
			display: none;
		}
		grid-column: 3;
		grid-row: 1 / span 2;
		background-color: #34795F;
		border-radius: 1rem;
		padding: 2rem;

	}

	.stats ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-bottom: 1rem;
	}

	.stats h2 {
		color: white;
	}

	.stats h3 {
		text-align: left;
	}

	.stats h4 {
		color: #999999;
		font-size: 0.9rem;
		grid-column: 1;
		justify-self: end;
	}

	.stats h5 {
		background-color: $green;
		align-self: end;
		border-radius: 1rem;
		font-size: 1rem;
		color: white;
		padding: 1rem;
		text-align: center;

	}


	 // .intro a {
		//grid-column: 5;
		//grid-row: 1;
		//align-self: end;
	//}
	//.menu img {
	//	width: 50%;
	//}
}


.mobilestats {
	grid-column: 1;
	@media screen and (min-width: 38em) {
		grid-column: 1 / span 2;
	}
	grid-row: 5;
	padding: 2rem;
	background-color: white;
	border-radius: 2rem;
	@media screen and (min-width: 950px) {
		display: none;
	}
	.stats2 ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.stats2 h2 {
		color: $green;
	}

	.stats2 h3 {
		text-align: left;
	}

	.stats2 h4 {
		color: #999999;
		font-size: 0.9rem;
		grid-column: 1;
		justify-self: end;
	}
}

.reccomended {	 
	transition: all .2s ease-in-out; 
	}
	.reccomended:hover { 
	transform: scale(1.02); 
	}
.reccomended { /* Reccomended Hike, Up next */ 
	grid-column: 1 / span 2;
	grid-row: 2;
	@media screen and (min-width: 40em) {
		grid-column: 1;
		grid-row: 2;
	}
	@media screen and (min-width: 60em) {
		grid-column: 1;
		grid-row: 2 / span 3;
	}

	background-color: #fff;
	border-radius: 2rem;
	padding: 2rem;
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr;
	background-image: url("../img/pic1.jpg");
	background-size: cover;
	
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li{
		color: white;
	}
	.description {
		grid-column: 1;
		grid-row: 2;
		background-color: white;
		padding: 1rem;
		border-radius: 1rem;
		justify-items: stretch;
	}

	.description h2 {
		color: $green;
	}

	.description img {
		font-size: 1rem;
	}
}

.side-column {
  /* position on main grid */
  grid-column: 1;
  grid-row: 3;
  @media screen and (min-width: 40em) {
		grid-column: 2;
		grid-row: 2;
	}
	@media screen and (min-width: 60em) {
		grid-column: 2;
		grid-row: 2 / span 3;
	}
  /* definition of nested grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1rem;
}
.search {	 
	transition: all .2s ease-in-out; 
	}
	.search:hover { 
	transform: scale(1.02); 
	}
.search { /* Search Feature */ 
	grid-column: 1;
	grid-row: 1;
	background-color: #fff;
	border-radius: 2rem;
	padding: 2rem;
	
	p {
		color: white;
		font-weight: 500;
		background-color: $green;
		padding-left: 3rem;
		padding-right: 3rem;
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
		border-radius: 1rem;
		text-align: center;
		font-size: 0.8rem;

	}
	ul {
		padding: 0.5rem;
		padding-top: 1rem;
		margin: 0;
		list-style: none;
	}
	h3 {
		color: $green;
	}
	h4 {
		line-height: 0.5rem;
		font-size: 0.8rem;
	}
	h4 span {
		color: $green;
	}
	.med span {
		color: #219AD8;
	}

	.hard span {
		color: red;
	}

	
	img {
		padding-right: 0.5rem;
	}
}

.goals {	 
	transition: all .2s ease-in-out; 
	}
	.track:hover { 
	transform: scale(1.02); 
	}

.goals { /* Tracking Route"*/ 
	grid-column: 1;
	grid-row: 2 ;
	display: grid;
	grid-template-rows: 2;
	background-color: #fff;
	border-radius: 2rem;
	padding: 1rem;
	
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		
	}
	h3 {
		font-weight: 500;
		color: $grey;
	}
	.right span {
		text-align: right;
	}

	h3 span {
		color: $green;
	}

	h2 {
		
		color: $grey;
	}

	h2 span {
		color: $green;
		font-size: 2rem;
	}
}




.favorite {	 
	transition: all .2s ease-in-out; 
	}
	.favorite:hover { 
	transform: scale(1.02); 
	}
.favorite { /* Main Favorite */
	grid-column: 1;
	grid-row: 4;
	@media screen and (min-width: 40em) {
		grid-column: 1 / span 2;
		grid-row: 3;
	}
	@media screen and (min-width: 60em) {
		grid-column: 3 / span 2;
		grid-row: 2 / span 3;
	}
	background-color: #fff;
	border-radius: 2rem;
	padding: 2rem;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 1fr;
	background-image: url("../img/pic2.jpg");
	@media screen and (min-width: 40em) {
		background-image: url("../img/pic2.jpg")
	}
  
	background-size: cover;
	
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		grid-column: 1;
	}

	li{
		color: white;
	}
	li h2,
	li h3 {
		

	}
	.description {
		grid-column: 1 / span 2;
		grid-row: 2;
		background-color: white;
		padding: 1rem;
		border-radius: 1rem;
		justify-items: stretch;
	}

	.description h2 {
		color: $green;

	}

	.description img {
		font-size: 1rem;
	}

	.description span {
		color: $grey;
	}
	.description p {
		
		padding-bottom: 1rem;
	}
	.description ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		text-align: center;	
	}

	.description ul span {
		color: $green;
	}

	.description h3 {
		color: $grey;
	}
}

